{% extends 'bank/base.html' %}

{% block content %}

<h1>admin</h1>

<section class="py-3">
    <div class="container border border-primary">
        <h1 class="text-center">Профиль пользователя {{user}}</h1>
        <div class="d-flex justify-content-between m-5">

            <div>
                <h5>Баланс</h5>
                <p>maticAmount = {{balance.maticAmount}}</p>
                <p>coinsAmount = {{balance.coinsAmount}}</p>

                <div class="py-3">
                    {% for NFT_uri in balance_NFT %}
                        <p>Для uri = {{NFT_uri.uri}}</p>
                        <p>Вы владеете NFT с номерами:</p>
                        {% for NFT_token in NFT_uri.tokens %}
                            {{NFT_token}}
                        {% endfor %}
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</section>

<section class="py-3">
    <div class="container border border-primary">
        <h3>Работа с группами</h3>

        <div>
            <h5>Создать группу</h5>
            <div>
                <!-- ОПОВЕЩЕНИЯ ДЖАНГИ -->
                {% include '../blocks/django_messages.html' %}

                <div class="enter-game d-flex flex-column justify-content-center align-items-center py-2">
                    <form class="enter-game__form row g-3" method="post" action="{% url 'group_create' %}">
                        <div class="enter-game__input col-auto">
                            {{ form_group_create.as_p }}
                        </div>
                        {% csrf_token %}
                        <div class="enter-game__btn col-auto">
                            <button id="btn-enter-game" type="submit" class="btn btn-primary mb-3">Создать</button>
                        </div>
                    </form>
                </div>
            </div>

            <h5>Добавить пользователя к уже существующей группе</h5>
            <div>
                <!-- ОПОВЕЩЕНИЯ ДЖАНГИ -->
                {% include '../blocks/django_messages.html' %}

                <div class="enter-game d-flex flex-column justify-content-center align-items-center py-2">
                    <form class="enter-game__form row g-3" method="post" action="{% url 'group_add' %}">
                        <div class="enter-game__input col-auto">
                            {{ form_group_add.as_p }}
                        </div>
                        {% csrf_token %}
                        <div class="enter-game__btn col-auto">
                            <button id="btn-enter-game" type="submit" class="btn btn-primary mb-3">Добавить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="py-3">
    <div class="container border border-primary">
        <h5>Перевести денежку</h5>
        <div>
            <!-- ОПОВЕЩЕНИЯ ДЖАНГИ -->
            {% include '../blocks/django_messages.html' %}

            <div class="enter-game d-flex flex-column justify-content-center align-items-center py-2">
                <form class="enter-game__form row g-3" method="post" action="{% url 'transfer_coin_admin' %}">
                    <div class="enter-game__input col-auto">
                        {{ form_coin.as_p }}
                    </div>
                    <!--TODO пока тут перевод только по открытому ключу-->
                    <div class="enter-game__btn col-auto">
                        <button id="btn-enter-game" type="submit" class="btn btn-primary mb-3">Перевести</button>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>

    </div>
</section>

<section class="py-3">
    <div class="container border border-primary">
        <h5>Сгенерировать NFT</h5>
        <div>
            <!-- ОПОВЕЩЕНИЯ ДЖАНГИ -->
            {% include '../blocks/django_messages.html' %}

            <div class="enter-game d-flex flex-column justify-content-center align-items-center py-2">
                <form class="enter-game__form row g-3" method="post" action="{% url 'generate_NFT_admin' %}">
                    <div class="enter-game__input col-auto">
                        {{ form_generate_NFT.as_p }}
                    </div>
                    {% csrf_token %}
                    <div class="enter-game__btn col-auto">
                        <button id="btn-enter-game" type="submit" class="btn btn-primary mb-3">Перевести</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>

<section class="py-3">
    <div class="container border border-primary">
        <h5>Перевести NFT</h5>
        <div>
            <!-- ОПОВЕЩЕНИЯ ДЖАНГИ -->
            {% include '../blocks/django_messages.html' %}

            <div class="enter-game d-flex flex-column justify-content-center align-items-center py-2">
                <form class="enter-game__form row g-3" method="post" action="{% url 'transfer_NFT_admin' %}">
                    <div class="enter-game__input col-auto">
                        {{ form_NFT.as_p }}
                    </div>
                    {% csrf_token %}
                    <div class="enter-game__btn col-auto">
                        <button id="btn-enter-game" type="submit" class="btn btn-primary mb-3">Перевести</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
{% endblock %}