{% extends 'bank/base.html' %}

{% block content %}

<h1 class="text-center text-primary pt-4">Digital Ruble маркет</h1>
<section>
    <div class="container d-flex align-content-center justify-content-center py-4">
        <div class="col-5 p-3 container border border-2 border-primary rounded-3 bg-white">
            <h5>Описание продукта</h5>
            <p>
                Мы разработали веб-сервис, в котором пользователь может приобрести, заработать, обменять свои монеты на какие-либо плюшки. Сервис включает в себя специальные возможности для администратора проекта, у которого возможностей намного больше, чем у обычных пользователей. Он может выдавать и забирать монеты (в случаях нечестного получения монет), блокировать аккаунты навсегда и выдавать временные баны, и многое другое. Пользователи откроют для себя новый мир NFT-сервиса. Много различных активностей: Quiz PVP, ежедневные активности, образовательный контент, все это только на нашем сервисе!
            </p>
        </div>
        <div class ="mx-auto"> </div>
        <div class="col-5 p-3 container border border-2 border-primary rounded-3 bg-white">
            <h5>Цель</h5>
            <p>
            Вызвать интерес к тематике NFT, вовлечь людей и показать, что это может быть инетерсно всем, ведь мы разработали сервис для людей любого возраста. Создали собственную цифровую валюту (монету). Добавили расширенный функционал для пользователей. Добавили возможность обмена монет между пользователя. Создали маркет для покупок чего-то интересного
            </p>
        </div>
    </div>
    <div class=" container d-flex align-content-center justify-content-center pt-5 mt-5">

        <div class="col-3 text-center"><a href="{% url 'game_register' %}" style="font-size: 25px" role="button">Присоединяйся к нам!</a></div>
        <div class="col-3 text-center"><a href="{% url 'game_login' %}" style="font-size: 25px" class="" role="button">Войти</a></div>
    </div>
</section>
{% endblock %}