{% extends 'bank/base.html' %}


{% block content %}

<h1>main</h1>
<section>
    <div class="container d-flex align-content-center justify-content-center py-4">

        <!-- ОПОВЕЩЕНИЯ ДЖАНГИ -->
        {% include '../blocks/django_messages.html' %}

        <div class="">
            <h5>Описание продукта</h5>
            <p>
                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник
                создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х
                годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
            </p>
        </div>

        <div class="">
            <h5>Цель</h5>
            <p>
                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник
                создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
            </p>
        </div>

        <div class="">
            <div><a href="{% url 'game_register' %}" style="font-size: 25px" role="button">Зарегистрироваться</a></div>
            <div><a href="{% url 'game_login' %}" style="font-size: 25px" class="" role="button">Войти</a></div>
        </div>


    </div>
</section>

{% if request.user.is_authenticated %}
<section class="py-3">
    <div class="container py-2">
        <h2 class="text-center">Рейтинг</h2>

        {% for key, values in groups.items %}
            <div class="">
                <h3>Название группы: <b>{{key}}</b></h3>
                <table class="table table-striped" id="table">

                    <thead>
                        <tr>
                            <th scope="col" >user</th>
                            <th scope="col">score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in values %}
                        <tr>
                            <td>{{user.0}}</td><td>{{user.1}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
</section>
{% endif %}


{% endblock %}