{% extends 'bank/base.html' %}

{% block content %}

<h1>profile_edit</h1>
<div class="enter-game d-flex flex-column justify-content-center align-items-center py-2">
    <form class="enter-game__form row g-3" enctype="multipart/form-data" method="post">
        <div class="enter-game__input col-auto">
            {{ form.as_p }}
        </div>
        <div class="enter-game__btn col-auto">
            <button id="btn-enter-game" type="submit" class="btn btn-primary mb-3">Обновить</button>
        </div>
        {% csrf_token %}
    </form>
</div>
{% endblock %}