{% extends 'bank/base.html' %}
{% load static %}


{% block content %}

<section class="py-3">
    <div class="container border border-primary">
        <h5>Мои ключи</h5>
        <p>public_key = {{public_key}}</p>
        <p>private_key = {{private_key}}</p>
    </div>
</section>

<section class="py-3">
    <div class="container border border-primary">
        <h1 class="text-center">Профиль пользователя {{user}}</h1>
        <div class="d-flex justify-content-between m-5">
            <div>
                <img src="{{profile.avatar.url}}" alt="">
                <div class="results_to_end d-flex justify-content-center py-2">
                    <a href="{% url 'profile_edit' id_profile %}" class="answer_link btn btn-primary">Редактировать Профиль</a>
                </div>
            </div>

            <div>
                <h5>Анкета</h5>
                <p>name = {{profile.name}}</p>
                <p>city = {{profile.city}}</p>
                <p>rank = {{profile.rank}}</p>
                <p>description = {{profile.description}}</p>
            </div>

            <div>
                <h5>Баланс</h5>
                <p>maticAmount = {{balance.maticAmount}}</p>
                <p>coinsAmount = {{balance.coinsAmount}}</p>

                <div class="py-3">
                    {% for NFT_uri in balance_NFT %}
                    <p>Для uri = {{NFT_uri.uri}}</p>
                    <p>Вы владеете NFT с номерами:</p>
                    {% for NFT_token in NFT_uri.tokens %}
                    {{NFT_token}}
                    {% endfor %}
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</section>

<section class="py-3">
    <div class="container border border-primary">
        <h5>История операций</h5>
        {% if not history %}
        Пока транзакций нет
        {% else %}
        {% for h in history %}
        <div class="element-history border border-primary p-2">
            <p>От кого = {{h.from}}</p>
            <p>Кому = {{h.to}}</p>
            <p>Что = {{h.tokenName}}</p>
            <p>Cколько = {{h.value}}</p>
            <p>Статус = {{h.isError}}</p>
        </div>
        {% endfor %}
        <button>Next</button> <button>Previous</button>
        {% endif %}
    </div>
</section>

<section class="py-3">
    <div class="container border border-primary">
        <h5>Перевести денежку</h5>
        <div>
            <!-- ОПОВЕЩЕНИЯ ДЖАНГИ -->
            {% include '../blocks/django_messages.html' %}

            <div class="enter-game d-flex flex-column justify-content-center align-items-center py-2">
                <form class="enter-game__form row g-3" method="post" action="{% url 'transfer_coin' %}">
                    <div class="enter-game__input col-auto">
                        {{ form_coin.as_p }}
                    </div>
                    <div class="enter-game__btn col-auto">
                        <button id="btn-enter-game" type="submit" class="btn btn-primary mb-3">Перевести</button>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>

    </div>
</section>

<!--<section class="py-3">-->
<!--    <div class="container border border-primary">-->
<!--        <h5>Сгенерировать NFT</h5>-->
<!--        <div>-->
<!--            &lt;!&ndash; ОПОВЕЩЕНИЯ ДЖАНГИ &ndash;&gt;-->
<!--            {% include '../blocks/django_messages.html' %}-->

<!--            <div class="enter-game d-flex flex-column justify-content-center align-items-center py-2">-->
<!--                <form class="enter-game__form row g-3" method="post" action="{% url 'generate_NFT' %}">-->
<!--                    <div class="enter-game__input col-auto">-->
<!--                        {{ form_generate_NFT.as_p }}-->
<!--                    </div>-->
<!--                    {% csrf_token %}-->
<!--                    <div class="enter-game__btn col-auto">-->
<!--                        <button id="btn-enter-game" type="submit" class="btn btn-primary mb-3">Перевести</button>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--</section>-->

<section class="py-3">
    <div class="container border border-primary">
        <h5>Перевести NFT</h5>
        <div>
            <!-- ОПОВЕЩЕНИЯ ДЖАНГИ -->
            {% include '../blocks/django_messages.html' %}

            <div class="enter-game d-flex flex-column justify-content-center align-items-center py-2">
                <form class="enter-game__form row g-3" method="post" action="{% url 'transfer_NFT' %}">
                    <div class="enter-game__input col-auto">
                        {{ form_NFT.as_p }}
                    </div>
                    {% csrf_token %}
                    <div class="enter-game__btn col-auto">
                        <button id="btn-enter-game" type="submit" class="btn btn-primary mb-3">Перевести</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>

<section class="py-3">



    {% if worker.is_user_boss %}
    <div class="container border border-primary">
        <h5>Cоздать группу</h5>

    </div>
    {% endif %}
    <div class="container border border-primary">
        <h5>Мои группы</h5>
        {% for key, values in groups.items %}
            <div class="border border-primary p-2">
                <h5>{{key}}</h5>
                {% for user in values %}
                <span>{{user}}</span>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</section>

<style>
    img{
        width: 100%;
        height: auto;
        max-width: 300px;
    }
</style>
{% endblock %}