{% load static %}

<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, width=device-width">

    <title> {% block title %}{% endblock %} </title>
    <!--bootstrap-->
{#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">#}
    <link href="{% static 'bootstrap-5.0.2/css/bootstrap.min.css' %}" rel="stylesheet">

    <!--Гугл шритфты-->
    <link href='//fonts.googleapis.com/css?family=Lato:400,700|Kaushan+Script|Montserrat' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css2?family=Source+Serif+4:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'game_1/css/base.css' %}">

    <!-- доп стили для других страниц-->
    {% block head_block %}{% endblock %}

</head>

<body>

{# TODO delete it #}
<!-- ОТЛАДОЧНАЯ ИНФОРМАЦИЯ -->
{% if user.is_superuser %}
<section class="debugging_information">
    <div class="container border border-primary pt-1 pb-1">
        <div class="debug-header text-center pt-2 pb-2">
            <h1> ОТЛАДОЧНАЯ ИНФОРМАЦИЯ</h1>
            <h2>Username - {{user.username}}</h2>
        </div>
{#        <div class="debug-list">#}
{#            <ul class="list-group">#}
{#                <li class="list-group-item"><a href="{% url 'main_room' %}" class="nav-link active">main_room</a></li>#}
{#                <li class="list-group-item"><a href="{% url 'waiting_room' slug %}" class="nav-link active">waiting_room</a></li>#}
{#                <li class="list-group-item"><a href="{% url 'add_bot' %}" class="nav-link active">add_bot</a></li>#}
{#                <li class="list-group-item"><a href="{% url 'found_gamers' 1 %}" class="nav-link active">found_gamers</a></li>#}
{#                <li class="list-group-item"><a href="{% url 'typing_room' %}" class="nav-link active">typing_room</a></li>#}
{#                <li class="list-group-item"><a href="{% url 'waiting_typing_room' %}" class="nav-link active">waiting_typing_room</a></li>#}
{#                <li class="list-group-item"><a href="{% url 'result_room' %}" class="nav-link active">result_room</a></li>#}
{#                <li class="list-group-item">///////////////////////////////////////////</li>#}
{#                <li class="list-group-item"><a href="{% url 'game_login' %}" class="nav-link active">game_login</a></li>#}
{#                <li class="list-group-item"><a href="{% url 'game_logout' %}" class="nav-link active">game_logout</a></li>#}
{#               <li class="list-group-item"><a href="{% url 'game_register' %}" class="nav-link active">game_register</a></li>#}
{#            </ul>#}
{#        </div>#}
    </div>
</section>
{% endif %}

<!-- КОНТЕНТ -->
{% block content %} {% endblock %}

{##}
{#<!-- НАВИГАЦИЯ -->#}
{##}
{#{% include './block/navbar.html' %}#}
{##}
{#<!--СЛАЙДЕР-->#}
{##}
{#{% include './block/head_slider.html' %}#}
{##}
{#<!-- СПИСОК ВОПРОСОВ -->#}
{##}
{#{% block answers %} {% endblock %}#}
{##}
{#<!-- ПАГИНАЦИЯ -->#}
{##}
{#{% block pagination %}{% endblock %}#}
{##}
{#<!-- ЭКСТРА СЕКИЦЯ (файлы, дополнения ...) -->#}
{##}
{#{% block extrasection %}{% endblock %}#}
{##}
{#<!-- ПОДВАЛ  -->#}
{##}
{#{% include './block/footer.html' %}#}


<!-- СКРИПТЫ -->
{#<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
<script type="text/javascript" src="{% static 'jquery/js/jquery-3.2.1.min.js' %}"></script>
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>#}
<script type="text/javascript" src="{% static 'bootstrap-5.0.2/js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery-tmpl/js/jquery.tmpl.1.0.0.js' %}"></script>
<script src="{% static 'game_1/js/base.js' %}"></script>

<!-- МОИ СКРИПТЫ  -->
{% block user_scripts %} {% endblock %}

</body>
</html>