{% extends 'bank/base.html' %}

{% block content %}

    <section class="login-page vh-100">

        <div class="login-page-body container h-100">
            <div class="login-page-header">
                <h1 class="p-2 d-flex justify-content-center text-white rounded-pill" style="font-weight: bold; font-size: 26px; background-color: orange">Страница регистрации</h1>
            </div>

            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-sm-10 col-lg-6">
                    <form method="post">
                        {% csrf_token %}

                        {% if form.non_field_errors %}
                            <div class="form-error alert alert-success" role="alert">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}

                        {% for f in form %}
                            <div class="form-group">
                                <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                                <div class="form-error">{{ f.errors }}</div>
                            </div>
                        {% endfor %}

                        <button type="submit" class="w-100 btn btn-primary">Регистрация</button>
                    </form>
                </div>
            </div>
        </div>

    </section>


{% endblock %}

